<!-- This example requires Tailwind CSS v2.0+ -->
<nav id="navigation" class="w-full backdrop-blur-md py-2 fixed z-50">
  <div class="max-w-[80%] mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" id="burger-button" class="inline-flex items-center justify-center p-2 rounded-md text-violet-400 hover:text-white hover:bg-violet-600 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Heroicon name: outline/menu

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <!--
            Icon when menu is open.

            Heroicon name: outline/x

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0 flex items-center">
            <%= link_to image_tag("logo_devone.png", :alt => "Home | DevOne"), root_path(landing_url) %>
            <div class="hidden sm:block sm:ml-6">
                <div class="flex space-x-4">
                    <% if user_signed_in? %>
                        <a href="<%= "/welcome" %>" class="text-violet-300 hover:bg-violet-600 hover:text-white focus:text-white active:text-white focus:bg-violet-600 active:bg-violet-600 px-3 py-2 rounded-md text-sm font-medium">Mon compte</a>
                    <% else %>          
                        <!-- Current: "bg-violet-900 text-white", Default: "text-violet-300 hover:bg-violet-600 hover:text-white" -->
                        <a href="#second-section" class="text-violet-300 hover:bg-violet-600 hover:text-white focus:text-white active:text-white focus:bg-violet-600 active:bg-violet-600 px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Le Projet</a>

                        <a href="#third-section" class="text-violet-300 hover:bg-violet-600 hover:text-white focus:text-white active:text-white focus:bg-violet-600 active:bg-violet-600 px-3 py-2 rounded-md text-sm font-medium">La Team</a>

                        <a href="#fourth-section" class="text-violet-300 hover:bg-violet-600 hover:text-white focus:text-white active:text-white focus:bg-violet-600 active:bg-violet-600 px-3 py-2 rounded-md text-sm font-medium">Télécharger</a>
                    <% end %>
                </div>
            </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0 hidden sm:flex">
        <!-- Profile dropdown -->
        <div class="ml-3 relative">
            <div class="flex items-center">
                <% if user_signed_in? %>
                    <a href="<%= "/users/sign_out" %>" class="btn-primary">Se déconnecter</a>
                <% else %>
                    <%= link_to "Se connecter", "/users/sign_in", class: "mr-4 text-sm" %>
                    <a href="<%= "/users/sign_up" %>" class="btn-primary">S'inscrire</a>
                <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="hidden sm:hidden h-screen relative" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1">
        <% if user_signed_in? %>
            <a href="<%= "/welcome" %>" class="text-violet-300 hover:bg-violet-600 hover:text-white focus:text-white active:text-white focus:bg-violet-600 active:bg-violet-600 px-3 py-2 rounded-md text-sm font-medium">Mon compte</a>
        <% else %>          
            <!-- Current: "bg-violet-900 text-white", Default: "text-violet-300 hover:bg-violet-600 hover:text-white" -->
            <a href="#second-section" class="text-violet-300 hover:bg-violet-600 hover:text-white focus:text-white active:text-white focus:bg-violet-600 active:bg-violet-600 px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Le Projet</a>

            <a href="#third-section" class="text-violet-300 hover:bg-violet-600 hover:text-white focus:text-white active:text-white focus:bg-violet-600 active:bg-violet-600 px-3 py-2 rounded-md text-sm font-medium">La Team</a>

            <a href="#fourth-section" class="text-violet-300 hover:bg-violet-600 hover:text-white focus:text-white active:text-white focus:bg-violet-600 active:bg-violet-600 px-3 py-2 rounded-md text-sm font-medium">Télécharger</a>
        <% end %>
        <div class="absolute bottom-1/4 block w-screen space-y-3">  
        <% if user_signed_in? %>
            <a href="<%= "/users/sign_out" %>" class="btn-primary">Se déconnecter</a>
        <% else %>
            <%= link_to "Se connecter", "/users/sign_in", class: "block text-violet-300 hover:bg-violet-600 hover:text-white focus:text-white active:text-white focus:bg-violet-600 active:bg-violet-600 px-3 py-2 rounded-md text-sm font-medium" %>
            <a href="<%= "/users/sign_up" %>" class="btn-primary">S'inscrire</a>
        <% end %>
        </div>
    </div>
  </div>
</nav>

<script type="text/javascript">
console.log('on est dans le js');
const burgerButton = document.getElementById('burger-button');
const mobileMenu = document.getElementById('mobile-menu');
burgerButton.addEventListener("click", function () {
    if (burgerButton.classList.contains('active')) {
        burgerButton.classList.remove('active');
        mobileMenu.style.display = 'none';
    } else {
        burgerButton.classList.add('active');
        mobileMenu.style.display = 'block';
    }
});
</script>












