    <section id="first-section" class="min-h-screen grid place-items-center">
        <div class="w-11/12 h-fit">
            <%# <img class="image-computer" src="./img/computer.png" alt=""> %>
            <h1 class="devone-title font-bold"><span class="plain-text">Dev</span><span class="outline-text">One</span></h1>
            <p class="text-4xl mb-5">Projet cryptomonnaie</p>
            <div class="flex">
                <a class="btn-primary mr-5" href="#" title="Commencer à miner">Commencer à miner</a>
                <a class="btn-secondary" href="#second-section" title="Découvrire le projet">Découvrire le projet</a>
            </div>
        </div>
    </section>
    <section id="second-section" class="min-h-screen grid place-items-center my-20">
        <div class="w-11/12 h-fit flex justify-between items-center">
            <div class="w-7/12">
                <%= image_tag("ordinateur-devone.png") %>
            </div>
            <div class="w-5/12">
                <h2 class="h2-style text-end ml-auto">Le projet<br>DevOne</h2>
                <p class="text-justify">
                    Le projet est la création d’une blockchain ainsi que
                    d’une cryptomonnaie appelé DevOne.
                    Lorem ipsum dolor sit amet. Eos modi aperiam id earum
                    impedit in voluptatem quisquam aut nihil autem.
                    Est aspernatur quasi sed quasi perferendis rem iure autem
                    et placeat beatae aut earum odit. Ad laudantium voluptatem
                    id autem nisi id iusto quos eum doloremque modi sit quia
                    dolorem ab reprehenderit ratione ut enim labore.
                    <br><br>
                    Non inventore velit et Quis dolores est voluptate fugit et quos
                    aspernatur et sapiente repudiandae.
                </p>
            </div>
        </div>
    </section>
    <section id="third-section" class="min-h-screen grid place-items-center my-20">
        <div class="w-11/12 h-fit">
            <div class="text-center mb-20">
                <h2 class="h2-style mx-auto">La team DevOne</h2>
                <p>
                    Nous sommes trois étudiant en alternance qui ont ce sont lancé dans un pari fou : <br>
                    Celui de créer un cryptomonnaie, sans aucune connaissance dans le domaine.
                </p>
            </div>
            <div class="w-9/12 mx-auto flex justify-between">
                <div id="francis-profile-card" class="max-w-sm h-fit backdrop-blur-md transparent-bg-white rounded-lg border border-gray-700 shadow-md overflow-hidden">
                    <div class="overflow-hidden h-3/6">
                        <a class="block hover:scale-105 transition duration-150 ease-out hue-rotate-[280deg] hover:hue-rotate-0" href="#">
                            <%= image_tag("francis-profile-devone") %>
                        </a>
                    </div>
                    <div class="p-5">
                        <a href="#">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight">Francis Scaringella</h5>
                        </a>
                        <p class="mb-3">
                            Développeur back-end<br>
                            Il a développé le site DevOne et donné et créé un environnement aggréable pour son équipe.
                        </p>
                        <a href="#" class="inline-flex items-center btn-primary">
                            En savoir plus
                            <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </a>
                    </div>
                </div>

                <div id="maixent-profile-card" class="max-w-sm h-fit backdrop-blur-md transparent-bg-white rounded-lg border border-gray-700 shadow-md overflow-hidden">
                    <div class="overflow-hidden h-3/6">
                        <a class="block hover:scale-105 transition duration-150 ease-out hue-rotate-[280deg] hover:hue-rotate-0" href="#">
                            <%= image_tag("maixent-profile-devone") %>
                        </a>
                    </div>
                    <div class="p-5">
                        <a href="#">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight">Maixent Maillard</h5>
                        </a>
                        <p class="mb-3">
                            Développeur front-end<br>
                            Par son oeil d'expert en design et son aisence en front-end, il est à l'orgine la beauté du site.
                        </p>
                        <a href="#" class="inline-flex items-center btn-primary">
                            En savoir plus
                            <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </a>
                    </div>
                </div>

                <div id="samuel-profile-card" class="max-w-sm h-fit backdrop-blur-md transparent-bg-white rounded-lg border border-gray-700 shadow-md overflow-hidden">
                    <div class="overflow-hidden h-3/6">
                        <a class="block hover:scale-105 transition duration-150 ease-out hue-rotate-[280deg] hover:hue-rotate-0" href="#">
                            <%= image_tag("samuel-profile-devone") %>
                        </a>
                    </div>
                    <div class="p-5">
                        <a href="#">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight">Samuel Assani</h5>
                        </a>
                        <p class="mb-3">
                            Développeur back-end<br>
                            Sa maîtrise du back-end et sa grand connaissance en cryptomonnaie à permis de donner vie à ce projet.
                        </p>
                        <a href="#" class="inline-flex items-center btn-primary">
                            En savoir plus
                            <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="fourth-section" class="min-h-screen grid place-items-center my-20">
        <div class="w-11/12 h-fit flex justify-center items-center">
            <div class="w-2/4">
                <%= image_tag('shell-interface.png') %>
            </div>
            <div class="">
                <h2 class="h2-style">Télécharger<br>le programme</h2>
                <a class="btn-primary w-fit" href="">Télécharger</a>
            </div>
        </div>
    </section>